- dashboard = DashboardPresenter.new(invoices: @sent_invoices)

.box
  .container
    .columns
      .column.is-one-quarter
        h2.title.is-size-2 Dashboard

.container
  .columns
    .column.is-8-desktop.is-offset-2-desktop
      - dashboard.years.each do |year|
        h3.is-title.is-size-4.has-text-centered = year
        .box
          table.table.is-fullwidth
            tbody
              tr
                th Factures envoyées
                td.has-text-right
                  = dashboard.invoices_for(year).count
              tr
                th Total H.T.
                td.has-text-right
                  = humanized_money dashboard.invoices_for(year).sum(&:amount)
                  | &nbsp;€ H.T.
              tr
                th Total T.V.A.
                td.has-text-right
                  = humanized_money(dashboard.invoices_for(year).sum(&:amount_with_vat) - dashboard.invoices_for(year).sum(&:amount))
                  | &nbsp;€

        .box id="monthly-turnover-#{year}"
        .box id="yearly-cutomers-percentage-#{year}"
        hr


- content_for(:js) do
  = javascript_include_tag "https://unpkg.com/frappe-charts@0.0.8/dist/frappe-charts.min.iife.js"

  javascript:

    const frappeChart = (
      target,
      title,
      type,
      year,
      labels,
      datasets,
      xFormat,
      yFormat
    ) => {
      const data = {
        labels: labels,
        datasets: datasets
      }

      const chart = new Chart({
        parent: target,
        title: title,
        data: data,
        type: type,
        height: 250,

        colors: ['#667797'],

        format_tooltip_x: d => d + xFormat,
        format_tooltip_y: d => d + yFormat
      })
    }

  - dashboard.years.each do |year|
    javascript:
      frappeChart(
        "#monthly-turnover-#{year}",
        "<h1>C.A. mensuel #{year}</h1>",
        "bar",
        "#{year}",
        JSON.parse("#{j dashboard.monthes}"),
        [
          {
            title: "C.A. mensuel #{year}",
            values: JSON.parse("#{dashboard.values_for_monthly_turnover(year)}")
          }
        ],
        "",
        " k€"
      )

      frappeChart(
        "#yearly-cutomers-percentage-#{year}",
        "<h1>Répartion des clients en #{year}</h1>",
        "percentage",
        "#{year}",
        JSON.parse("#{j dashboard.yearly_customers_list(year)}"),
        [{
          values: JSON.parse("#{dashboard.values_yearly_customers_turnover(year)}")
        }],
        "",
        ""
      )
