.main-background-image{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), image-url('paper_pen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.has-light-text{
  color: $light;
}
a.has-light-text{
  &:hover{
    color: $light;
    text-decoration: underline;
  }
}
