.main-background-image{
  background-image: linear-gradient(0deg, rgba(255,255,255,0.8) 100%,rgba(255,255,255,0) 50%, rgba(255,255,255,0.9) 0%), image-url('365cons_071.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
